<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <strong>Title</strong>
  </div>

  <div class="col-2">
    <strong>Replies</strong>
  </div>

  <div class="col-2">
    <strong>Author</strong>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col">
      <%= link_to post.title, post %>
    </div>

    <div class="col-2">
      <%= post.replies.count %>
    </div>

    <div class="col-2">
      <%= post.user.name %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <%= paginate @posts %>
  </div>
  <div class="col-2">
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>
